.projects-section {
    padding: var(--padding);
    .container-section {
        .projects-title {
            font-size: var(--header-font-size);
            padding: 0px 0px var(--header-font-size) 0px;
            border-bottom: 0.5px solid rgba(128,128,128,0.5);
        }

        .projects-container {
            display: flex;
            //position: sticky;
            top: 0px;
            width: 100%;
            border-bottom: 0.5px solid rgba(128,128,128,0.5);
            flex-direction: column;
            position: relative;
            overflow-x: hidden;
            
            .description-section {
                padding: calc(var(--header-font-size)) var(--padding) 0px var(--padding);
                background-color: var(--background-color);
                //background-color: red;
                display: flex;
                flex-direction: column;
                //background-color: red;
                .description-container {
                    //position: sticky;
                    //top: 0px;
                    
                    .project-title {
                        position: relative;
                        z-index: 0;
                        font-size: var(--subheader-font-size);
                        //font-weight: bold;
                        margin-top: -var(--header-font-size);
                    }

                    .project-title::after {
                        position: absolute;
                        content: "";
                        height: calc(var(--subheader-font-size) * 0.6);
                        width: 150px;
                        background-color: var(--theme-color);
                        top: calc(var(--subheader-font-size) * 0.8);
                        left: calc(var(--subheader-font-size) * 0);
                        z-index: -1;
               
                    }

                    text {
                        display: block;
                        text-align: justify;
                        margin-top: calc(var(--subheader-font-size)/2);
                        font-size: var(--text-font-size);
                    }
                }
                .description-footer {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin-top: auto;
                    width: 100%;
                    padding: 0px var(--padding) var(--header-font-size) var(--padding);
                    //background-color: green;
                    text {
                        font-weight: 900;
                    }
                    .description-links {
                        margin-left: auto;
                        font-size: 14px;

                        span {
                            display: flex;
                            flex-direction: row;
                            gap: 15px;

                            img {
                                width: 20px;
                                height: 20px;
                                display: inline;
                                filter: invert(var(--color));
                            }

                        }
                        
                    }
                }
            }

            .project-section {
                padding: calc(var(--header-font-size)) var(--padding) calc(var(--header-font-size) * 1) var(--padding);
                background-color: var(--background-color);
                //background-color: yellow;
                
                .project {
                    display: block;
                    margin: auto;
                    background-color: grey;
                    max-height: 500;
                    max-width: 750;
                    border-radius: 15px;
                    background-size: cover;
                    background-position: bottom;
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
                    img {
                        width: 75vw;
                        height: 50vw;
                        border-radius: 15px;
                    }
                }
                margin-bottom: 100px;
            }
        }
    }
}


@media (min-width: 1400px) {
    .projects-section {
        .container-section {
            .projects-title {
            }
    
            .projects-container {
                display: flex;
                //position: sticky;
                flex-direction: row;
    
                .description-section {
                    width: 50%;
                    padding: calc(var(--header-font-size) * 1.5) var(--padding) calc(var(--header-font-size) * 1.5) var(--padding) ;
                    .description-container {
   
                        .project-title {
                            margin-top: -10px;
                        }
    
                        .project-title::after {
                  
                   
                        }
    
                        text {
              
                        }
                    }
                    .description-footer {
                        position: relative;
                        padding: 0px;
                        text {
                     
                        }
                        .description-links {
                       
                        }
                    }
                }
    
                .project-section {
                    width: 50%;
                    padding: calc(var(--header-font-size) * 1.5) var(--padding) calc(var(--header-font-size) * 1.5) var(--padding) ;
                   
                    .project {
                        min-height: 350px;
                        min-width: 525px;
                        max-height: 350px;
                        max-width: 525px;
                        img {
                            width: 525px;
                            height: 350px;
                        }
                    }
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media (min-width: 1550px) {
    .projects-section {
        .container-section {
            .projects-title {
            }
    
            .projects-container {
                display: flex;
                //position: sticky;
                flex-direction: row;
    
                .description-section {
                    width: 50%;
                    padding: calc(var(--header-font-size) * 1.5) var(--padding) calc(var(--header-font-size) * 1.5) var(--padding);
                    .description-container {

                        .project-title {
                            margin-top: -15px;
                        }
    
                        .project-title::after {
                  
                   
                        }
    
                        text {
              
                        }
                    }
                    .description-footer {
                        position: relative;
                        text {
                     
                        }
                        .description-links {
                       
                        }
                    }
                }
    
                .project-section {
                    width: 50%;
                    padding: calc(var(--header-font-size) * 1.5) var(--padding) calc(var(--header-font-size) * 1.5) var(--padding);
                   
                    .project {
                        min-height: 350px;
                        min-width: 525px;
                        max-height: 350px;
                        max-width: 525px;
                        img {
                            width: 525px;
                            height: 350px;
                        }
                    }
                }
            }
        }
    }
}