.hero-section {
    padding: 0px var(--padding) var(--padding) var(--padding);
    height: calc(100vh - 150px); //800px
    transition: 0.5s;
    color: var(--text-color);
    //flex-direction: column;
    
    .container-section {
        display: flex;
        position: relative;
        width: 100%;
        align-items: center;
        //background-color: green;
        height: 100%;
        .text-section {
            margin-top: -75px;
            //background-color: yellow;
            width: 100%;
            position: relative;
            //z-index: 1;
            //align-self: center; //no need if align items is set to center
            //text-align: center;
            //background-color: red;
            
            h1 {
                //background-color: blue;
                //margin: auto;

                font-size: var(--header-font-size);
        
                //font-weight: 900;
                //text-align: right;
                width: 75%;
            
                display: block;
            }
            
            h1:nth-child(1) {
                font-size: var(--subheader-font-size);
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--text-color);
                
                //font-weight: 500;
            }
        }

        .image-section {
            //background-color: red;
            display: none;
            margin-top: -75px;
            position: relative;
            //z-index: 0;
            //align-self: center; //no need if align items is set to center
            //background-color: red;
            width: 100%;
            img {
                margin-left: auto;
                border-radius: 15px;
                width: 150px;
                filter: grayscale(100%);
            }
        }

        .sub-text-section {
            position: absolute;
            bottom: 25px;
            left: 0;
            font-size: var(--text-font-size);
        }

        .sub-button-section {
            position: absolute;
            bottom: 25px;
            right: 0;
            //z-index: 5;
            a {
                height: 75px;
                width: 75px;
                display: block;
                text-align: center;
                line-height: 65px;
                font-size: 18px;
                background-color: black;
                color: white;
                transition: 0.2s ease-in-out;
                border-radius: 50%;
                border: 2px solid var(--text-color);
            } 

            a:hover {
                border: 2px solid var(--theme-color);
            }
        }
    }
}
//FOR 02/04/2024 EDDZ:
//Fix mouse cursor mechanics, hide on mobile view, fix lagging (DONE except lagging, check in live site)
//Await loading animation before playing entrance animations, put all animations in functions for await call in app(?) (DONE)
//position fixed of hamburger onclick (maybe set body position to fixed if navbar open) (DONE)
//Hidden overflow x for mousecursor to be hidden not scroll on page when going beyond x axis (DONE)

//For 05/04/2024 EDDZ:
//Projects section start (IN PROGRESS, UPGRADE THIS)
//Contacts section start (IN PROGRESS, UPGRADE THIS)

//FOR 06/04/2024 EDDZ:
//Deploy to gh-pages then custom domain (IN PROGRESS, FIX HERO IMAGE NOT APPEARING) (DONE)

//FOR 07/04/2024 EDDZ:
//Fix preloader mobile view make it more responsive to all (DONE FOR NOW, MAKE THIS MORE OPTIMIZED AND CLEANER !IMPORTANT!)
//Fix custom cursor delaying preloader maybe use sequence instead of async then remove onpload useeffect conditions except for fixed position maybe (DONE, [] on useeffect on preloader was cause)
//FIX CUSTOM CURSOR LAGGING !IMPORTANT! (LAGS WHEN MOUSE STILL MOVES PROBABLY ANIMATION WONT OVERRIDE EVERYTIME MOUSE MOVES) (DONE! LAGS BECAUSE OF ANIMATION SPRING)

//FOR 08/04/2024 EDDZ:
//Fix font on iphone: https://stackoverflow.com/questions/46633882/font-in-ios11-is-incorrectly-displayed (DONE?)
//Footer section start (DONE)
//Add content and icons (IN PROGRESS)
//Update resume (DONE)
//Make projects json/array format component for easy creation (DONE)

//For 09/04/2024 EDDZ:
//Add content and icons (IN PROGRESS)
//Fix project image to be better layout and more responsive
//Review contact layout (maybe stick right side to right side so padding matches and maybe looks better)
//Fix contact form email
//Fix overall layout
//Change <text> elements to <span> elements
//Add page animations
//Add cursor animations
//Hamburger and light/darkmode design
//Placeholder for empty projects
//Colors (add or remove match with pastel red)
//Skills skillcards drag text in cursor on hover (?) use this:  https://codesandbox.io/p/sandbox/custom-cursor-with-framer-motion-n6i55?file=%2Fsrc%2Findex.js%3A102%2C28-102%2C38
//Fix slider of skills, arrows, and its layout including mobile (CURRENTLY AT LAYOUTS, ALIGN SKILL&TOOLSET AND TOOLS AND TECHNOLOGIES, REMOVE LINE HEIGHT OF BIG FONTS) (DONE EXCEPT ARROWS CHANGE UGLY ARROWS TO SVG)
//Fix scroll and basic animations (Currently: https://www.youtube.com/watch?v=am0ZueQmpzg) (IN PROGRESS, CURRENTLY AT SMOOTH SCROLL. AND THEN DO HAMBURGER APPEARS AND LIGHTORDARKMODE)
//Cursor animations
//Fix hamburger menu onclick animation go to section of page
//fix styles to  be responsive! specially hero section think of idea then make it resposnive at all sizes (vw optimization) then add entry animations then add hamburger on scroll
//Fix zoomout layout and cursor following on zoomout
//Fix forms
//Fix projects images (or just upload edited size)
//Add projects
//Migrate to eddzrivi.dev
//Add in achievements and responsibilities how it helped company ex. which boosted sales by 12%



@media (min-width: 768px) {
    .hero-section {
        .container-section {
            height: calc(100vh - 140px); //800px
            flex-direction: row;
            align-items: center;
            

            .text-section {
              
                h1 {
                    font-size: var(--header-font-size);
                    width: 75%;
                    margin: auto;
                    font-weight: 900;
                    color: var(--theme-color); //test
                }
            
                h1:nth-child(1) {
                    font-size: var(--subheader-font-size);
                    font-weight: 500;
                }
            }
            .image-section {
                display: block;
                img {
                    margin: auto;
                    width: 20vw;
                }
            }
        }
    }
}

@media (min-width: 1550px) {
    .hero-section {
        .container-section {
            height: calc(100vh - 140px); //800px
            //background-color: blue;
            flex-direction: row;
            align-items: center;

            .text-section {
       
                h1 {
                    font-size: var(--header-font-size);
                    width: 75%;
                    margin: auto;
                }
            
                h1:nth-child(1) {
                    font-size: var(--subheader-font-size);
                }
            }
            .image-section {
                display: block;
                img {
                    margin: auto;
                    border-radius: 15px;
                    width: 375px;
                }
            }
        }
    }
}