@import url('https://fonts.googleapis.com/css?family=Poppins:wght@900display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop');


/*Global Variables*/
:root {
  --max-width: 1200px;
  --padding: 5vw;
  --index: 0;
  --primary-font: Poppins;
  --text-color: white;
  --background-color: #121212;
  --theme-color: #e792a3;
}

[data-theme="dark"] {
  --text-color: white;
  --background-color: #121212;
  --theme-color: #e792a3;
  transition: 0.5s;
  
}

[data-theme="light"] {
  --text-color: black;
  --background-color: #ece8e1;
  --theme-color: #DC143C;
  transition: 0.5s;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

/*Default Styles*/
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*Custom Styles*/


/*Keyframes*/

